$hd: " only screen and (min-width: 1920px)"
$lg: " only screen and (min-width: 1201px) and (max-width: 1919px)"
$laptop: " only screen and (min-width: 769px) and (max-width: 1200px)"
$not-device: "only screen and (min-width: 920px)"
$tablet: " only screen and (min-width: 481px) and (max-width: 768px)"
$phone: " only screen and (min-width: 320px) and (max-width: 480px)"


$fsize: "2.5rem"


html
    body
        header
            nav.nav-first
                height: 55px
                box-shadow: 0 10px 1px #FFCD11
                .navbar-collapse
                  ul.navbar-nav
                    li
                      a
                        color: #FFCD11 !important
                      .choicecity
                        text-decoration: underline
                        font-size: 0.9rem
                #navbarNavDropdownStart
                  @media #{$not-device}
                    display: flex
                  justify-content: flex-start
                #navbarNavDropdown
                  @media #{$not-device}
                    display: flex
                  justify-content: flex-end
            .nav-second
              height: 105px
              display: flex
              //background: #1E252B
              .bottom-nav
                margin-top: 20px
                height: 100px
                //background: lightgrey
                .brand
                  position: relative
                  top: 0px
                  display: block
                  //background: #1e7e34
                  img
                    margin-left: 10px
                    width: 80px
                  span.brand-text
                    left: -15px
                    background: #FFCD11
                    padding: 8px
                    font-weight: 550
                    position: relative
                    top: 10px

                .cat-right-block
                  ul.nav-pills
                    //width: 0px
                    display: flex
                    justify-content: space-around

                    .nav-item
                      a
                        color: black
                        font-size: 1rem
                        padding-top: 25px
                        padding-bottom: 25px
                        transition: border 1s ease-in-out
                      &:hover
                        //border-bottom: 10px solid #FFCD11
                        //padding-left: 0%
                        //padding-right: 0%
                        //border-radius: 0px
                      .active
                        background: transparent
                        border-bottom: 10px solid #FFCD11
                        padding-left: 0%
                        padding-right: 0%
                        border-radius: 0px





                .rent-equip
                  padding: 0
                  position: relative
                  left: -40px
                  button.rent
                    height: 45px
                    border-radius: 2px
                    width: 170px
                    font-weight: 600
        section.main-1
          z-index: -1
          width: 100%
          height: auto
          background: rgba(black, 0.5)
          background-image: url("../img/main-bkg.jpg")
          background-repeat: no-repeat
          background-size: 100%
          .container
            //background: #FFCD11
            height: 100%
            .top-content
              padding-top: 77px
              h1.title
                color: #fff
                font-weight: bold
              p.your-equip
                color: #fff
                padding-top: 10px
                padding-bottom: 10px
                font-size: 1.3rem
              .search-form
                form
                  background: transparent
                  border: none
                  .form-group
                    .label-input
                      color: #FFFFFF
                      padding-top: 5px
                      a
                        color: #FFCD11
                        text-decoration: underline
                        padding-left: 10px
                margin-bottom: 100px
            .pre-block
              .card_desc,.card-body
                color: white
                border: none
                background: transparent !important
                .card-body
                  img
                    width: 90px
                    padding-bottom: 10px
                  .card-title
                    font-weight: bold
                    font-size: 1.4rem
                    text-decoration: underline
                    padding-bottom: 5px

        section.category
          height: 1000px

          .container
            padding-top: 70px
            h1.title
              font-size: 1.7rem
              font-weight: bold
            .slide-category
              .slider-list
                .items
                  background: #FFFFFF
