html body {
  font-family: "PFDinTextCondPro-Regular", sans-serif;
}

@media screen and (max-width: 560px) {
  html body {
    font-size: .9rem;
  }
  html body h1 {
    font-size: 1.5em;
  }
}

html body header nav.nav-first {
  height: 55px;
  box-shadow: 0 10px 1px #FFCD11;
}

html body header nav.nav-first .rent-equip {
  display: none;
}

@media screen and (max-width: 1199px) {
  html body header nav.nav-first .rent-equip {
    display: block;
  }
}

html body header nav.nav-first .navbar-collapse ul.navbar-nav li a {
  color: #FFCD11 !important;
}

html body header nav.nav-first .navbar-collapse ul.navbar-nav li .choicecity {
  text-decoration: underline;
  font-size: 0.9rem;
}

html body header nav.nav-first #navbarNavDropdownStart {
  justify-content: flex-start;
}

@media only screen and (min-width: 920px) {
  html body header nav.nav-first #navbarNavDropdownStart {
    display: flex;
  }
}

html body header nav.nav-first #navbarNavDropdown {
  justify-content: flex-end;
}

@media only screen and (min-width: 920px) {
  html body header nav.nav-first #navbarNavDropdown {
    display: flex;
  }
}

html body header .nav-second {
  height: 105px;
  display: flex;
  background-color: white;
}

html body header .nav-second .bottom-nav {
  margin-top: 20px;
  height: 100px;
}

html body header .nav-second .bottom-nav .brand {
  position: relative;
  top: 0px;
  display: block;
}

html body header .nav-second .bottom-nav .brand img {
  margin-left: 10px;
  width: 80px;
}

html body header .nav-second .bottom-nav .brand span.brand-text {
  left: -15px;
  background: #FFCD11;
  padding: 8px;
  position: relative;
  top: 10px;
}

@media screen and (max-width: 1199px) {
  html body header .nav-second .bottom-nav .cat-right-block {
    flex: 0 0 86.666667%;
    max-width: 86.666667%;
  }
}

html body header .nav-second .bottom-nav .cat-right-block ul.nav-pills {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1199px) {
  html body header .nav-second .bottom-nav .cat-right-block ul.nav-pills {
    justify-content: space-between;
  }
}

html body header .nav-second .bottom-nav .cat-right-block ul.nav-pills .nav-item a {
  color: black;
  font-size: 1rem;
  padding: 25px 0;
  transition: border 1s ease-in-out;
}

html body header .nav-second .bottom-nav .cat-right-block ul.nav-pills .nav-item .active {
  background: transparent;
  border-bottom: 10px solid #FFCD11;
  padding-left: 0%;
  padding-right: 0%;
  border-radius: 0px;
}

html body header .nav-second .bottom-nav .rent-equip {
  padding: 0;
  position: relative;
  left: -40px;
}

@media screen and (max-width: 1199px) {
  html body header .nav-second .bottom-nav .rent-equip {
    display: none;
  }
}

html body header .nav-second .bottom-nav .rent-equip button.rent {
  height: 45px;
  border-radius: 2px;
  width: 170px;
  font-weight: 600;
}

html body section.main-1 {
  z-index: -1;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 8.33%, rgba(0, 0, 0, 0.36) 100%), url("../img/main-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html body section.main-1 .container {
  height: 100%;
}

html body section.main-1 .container .top-content {
  padding-top: 77px;
}

html body section.main-1 .container .top-content h1.title {
  color: #fff;
  font-weight: bold;
}

html body section.main-1 .container .top-content p.your-equip {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3rem;
}

html body section.main-1 .container .top-content .search-form {
  margin-bottom: 100px;
}

html body section.main-1 .container .top-content .search-form form {
  background: transparent;
  padding-left: 0;
  border: none;
}

html body section.main-1 .container .top-content .search-form form .form-group input, html body section.main-1 .container .top-content .search-form form .form-group button {
  height: 3rem;
  border-radius: 0;
}

html body section.main-1 .container .top-content .search-form form .form-group .label-input {
  color: #FFFFFF;
  padding-top: 5px;
}

html body section.main-1 .container .top-content .search-form form .form-group .label-input a {
  color: #FFCD11;
  text-decoration: underline;
  padding-left: 10px;
}

html body section.main-1 .container .pre-block {
  flex-wrap: nowrap;
}

html body section.main-1 .container .pre-block .card_desc, html body section.main-1 .container .pre-block .card-body {
  color: white;
  border: none;
  background: transparent !important;
}

html body section.main-1 .container .pre-block .card_desc .card-body img, html body section.main-1 .container .pre-block .card-body .card-body img {
  width: 90px;
}

html body section.main-1 .container .pre-block .card_desc .card-body .icon-rotate, html body section.main-1 .container .pre-block .card-body .card-body .icon-rotate {
  transform: rotate(180deg);
}

html body section.main-1 .container .pre-block .card_desc .card-body .card-title, html body section.main-1 .container .pre-block .card-body .card-body .card-title {
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: underline;
  padding-bottom: 5px;
}

html body section.main-1 .container .pre-block .card_desc .card-body:hover, html body section.main-1 .container .pre-block .card-body .card-body:hover {
  color: #FFCD11;
}

@media screen and (max-width: 600px) {
  html body section.main-1 .container .pre-block .card_desc .card-body .card-text, html body section.main-1 .container .pre-block .card-body .card-body .card-text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  html body section.main-1 .container .pre-block .card_desc .card-body, html body section.main-1 .container .pre-block .card-body .card-body {
    text-align: center;
  }
  html body section.main-1 .container .pre-block .card_desc .card-body img, html body section.main-1 .container .pre-block .card-body .card-body img {
    width: 32px;
    height: 32px;
  }
  html body section.main-1 .container .pre-block .card_desc .card-body .card-title, html body section.main-1 .container .pre-block .card-body .card-body .card-title {
    font-size: 1rem;
  }
}

html body section.main-1 .container .bottom-icon .store_link a:nth-child(2) {
  margin-left: 15px;
}

html body section.main-1 .container .bottom-icon .store_link img {
  width: 200px;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  html body section.main-1 .container .bottom-icon .store_link img {
    width: 80px;
    height: 24px;
  }
}

html body section.category {
  background-color: #f5f5f5;
}

html body section.category .container {
  padding-top: 40px;
}

html body section.category .container h1.title {
  font-size: 1.7rem;
  font-weight: bold;
}

html body section.category .container .slide-category {
  margin-top: 40px;
  height: 290px;
}

html body section.category .container .slide-category .carousel .flickity-viewport {
  height: 170px;
}

html body section.category .container .slide-category .carousel .flickity-page-dots li.dot {
  opacity: 1;
}

html body section.category .container .slide-category .carousel .flickity-page-dots li.is-selected {
  background: transparent;
  border: 1px solid black;
}

html body section.category .container .slide-category .carousel .flickity-prev-next-button.next {
  right: -30px;
}

html body section.category .container .slide-category .carousel .flickity-prev-next-button.previous {
  left: -30px;
}

html body section.category .container .slide-category .slider-list .items {
  background: #FFFFFF;
}

html body section.category .container .slide-category .slider-list .items img {
  width: 130px;
}

html body section.category .search-map {
  position: relative;
  height: 140px;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 51.6%, rgba(255, 255, 255, 0.4) 99.06%), url("../img/map2.jpg");
  background-size: cover;
}

html body section.category .search-map .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 768px) {
  html body section.category .search-map .container {
    flex-direction: column;
    justify-content: center;
  }
  html body section.category .search-map .container h1.title-content {
    text-align: center;
  }
}

html body section.category .search-map .container h1.title-content {
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 5px;
}

html body section.category .search-map .container button.search-on-map {
  background: #2a2b29;
  font-size: 1.1rem;
  text-shadow: 0 0 3px #fecc11;
  color: #fecc11;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 0px;
}

html body section.item-container {
  padding-top: 40px;
  height: auto;
  background: whitesmoke;
  padding-bottom: 50px;
}

html body section.item-container .container {
  height: 100%;
}

html body section.item-container .container .title-block {
  margin-top: 35px;
  font-size: 1.7rem;
  font-weight: bold;
}

html body section.item-container .container .left-block .title-block {
  margin-bottom: 30px;
}

html body section.item-container .container .left-block .list-block {
  margin-top: 10px;
}

html body section.item-container .container .left-block .list-block .title-list-block {
  width: 100%;
  background: #4E4852;
  color: whitesmoke;
  padding-left: 15px;
  height: 25px;
}

html body section.item-container .container .left-block .list-block .cat-list {
  background: white;
  padding: 10px 0 10px 25px;
}

html body section.item-container .container .left-block .list-block .cat-list .cat-item {
  list-style: none;
}

html body section.item-container .container .left-block .list-block .cat-list .cat-item a {
  color: #1a1a1a;
  display: inline-block;
  width: 100%;
}

html body section.item-container .container .left-block .list-block .order-double-click {
  text-align: center;
  display: flex;
  border: none;
}

html body section.item-container .container .left-block .list-block .order-double-click .card-body {
  padding: 0;
  margin-bottom: 10px;
}

html body section.item-container .container .left-block .list-block .order-double-click .card-body img {
  width: 100%;
}

html body section.item-container .container .left-block .list-block .order-double-click .card-body .title-item {
  margin-top: 10px;
  padding: 0;
}

html body section.item-container .container .left-block .list-block .order-double-click .card-body a.order {
  position: relative;
  bottom: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  background: #fecc11;
  color: #1a1a1a;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

html body section.item-container .container .left-block .list-block .order-ask {
  padding: 0;
  display: flex;
  text-align: center;
  border: none;
  margin-bottom: 1rem;
}

html body section.item-container .container .left-block .list-block .order-ask .title-ask {
  min-height: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  background: #fecc11;
  font-size: 0.9rem;
  padding: 10px 0;
}

html body section.item-container .container .left-block .list-block .order-ask .card-body {
  padding-top: 0px;
}

html body section.item-container .container .left-block .list-block .order-ask .card-body .ask-desc {
  text-align: left;
}

html body section.item-container .container .left-block .list-block .order-ask .card-body button.number {
  background: #1a1a1a;
  color: #fecc11;
  border: none;
  min-height: 2.2rem;
  line-height: 12px;
  padding-right: 10px;
  padding-right: 10px;
  text-shadow: 0 0 1px #fecc11;
}

html body section.item-container .container .right-block .card {
  height: 300px;
  margin-top: 30px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
  border: none;
  transition: box-shadow 0.7s ease-in-out;
}

html body section.item-container .container .right-block .card:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
}

html body section.item-container .container .right-block .card .card-body {
  padding: 0;
}

html body section.item-container .container .right-block .card .card-body .card-thumb {
  height: 100%;
  width: 100%;
  background: #fec;
  background-size: cover;
  height: 100%;
}

html body section.item-container .container .right-block .card .card-body .right-side-card {
  padding-left: 15px;
  padding-right: 25px;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-title {
  height: 40px;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop {
  margin-top: 20px;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop .table tbody tr th, html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop .table tbody tr td {
  border: none;
  padding: 0;
  padding-bottom: 5px;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop .table tbody tr th {
  width: 70%;
  font-weight: normal;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop .table tbody tr td {
  width: 30%;
  text-align: right;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .cost-content {
  display: flex;
  justify-content: space-between;
  height: 40px;
  font-size: 0.9rem;
  text-shadow: 0 0 1px black;
  height: 40px;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .cost-content i {
  font-weight: 300;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .cost-content img {
  width: 20px;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content {
  display: flex;
  justify-content: space-between;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content button {
  height: 2.2rem;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  text-shadow: 0 0 1px black;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content button.more {
  background: none;
  padding-left: 0;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content button.order {
  background: #fecc11;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content button.number {
  background: #3b3b3b;
  color: #fecc11;
  text-shadow: 0 0 1px #fecc11;
  line-height: 12px;
  min-height: 2.2rem;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content .right-side {
  width: 59%;
  display: flex;
  justify-content: space-between;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content .right-side button.order {
  background: #fecc11;
}

html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content .right-side button.number {
  background: #3b3b3b;
  color: #fecc11;
  text-shadow: 0 0 1px #fecc11;
  line-height: 12px;
  min-height: 2.2rem;
}

html body section.item-container .container .right-block .more-content {
  margin-top: 20px;
}

html body section.item-container .container .right-block .more-content button.more-items {
  background: transparent;
  border: 2px solid black;
  font-size: 0.9rem;
  padding: 7px;
  padding-right: 12px;
  padding-left: 12px;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
  transition: color 0.5s ease-in, background 0.7s ease-in-out, text-shadow 0.5s ease-in-out;
}

html body section.item-container .container .right-block .more-content button.more-items:hover {
  background: #000;
  color: whitesmoke;
  text-shadow: 0 0 1px whitesmoke;
}

html body section.service-block {
  background: whitesmoke;
  padding-top: 40px;
  padding-bottom: 40px;
}

html body section.service-block .container {
  display: flex;
}

html body section.service-block .container .left-block {
  height: 280px;
}

html body section.service-block .container .left-block .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html body section.service-block .container .right-block .title-block {
  font-weight: bolder;
  font-size: 1.75rem;
  text-shadow: 0 0 1px #000;
}

html body section.service-block .container .right-block .desc-block {
  margin-top: 40px;
}

html body section.service-block .container .right-block .desc-block p.desc {
  padding-bottom: 10px;
}

html body section.on-app {
  background: #3B3B3B;
  padding-top: 50px;
  padding-bottom: 40px;
}

html body section.on-app .container {
  display: flex;
}

html body section.on-app .container .left-block {
  margin-left: 0;
  padding-left: 0;
}

html body section.on-app .container .left-block img.screen {
  width: 90%;
}

html body section.on-app .container .right-block {
  padding-top: 20px;
}

html body section.on-app .container .right-block .title-block {
  color: #fecc11;
  font-weight: bolder;
  font-size: 2rem;
  text-shadow: 0 0 1px #fecc11;
}

html body section.on-app .container .right-block .desc-block {
  margin-top: 50px;
  padding-bottom: 20px;
}

html body section.on-app .container .right-block .desc-block .title-desc {
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 20px;
}

html body section.on-app .container .right-block .desc-block ul {
  padding-left: 7rem;
}

@media screen and (max-width: 720px) {
  html body section.on-app .container .right-block .desc-block ul {
    padding-left: 3rem;
  }
}

html body section.on-app .container .right-block .desc-block ul li.desc-item {
  font-size: 1.2rem;
  padding-bottom: 10px;
  color: white;
  list-style: none;
}

html body section.on-app .container .right-block .desc-block ul li.desc-item:before {
  content: "o ";
  color: #fecc11;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  position: relative;
  left: -7px;
  margin-left: -1rem;
}

html body section.on-app .container .store-links {
  margin-top: 40px;
}

html body section.on-app .container .store-links a:nth-child(2) {
  margin-left: 15px;
}

html body section.on-app .container .store-links a img {
  width: 200px;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  html body section.on-app .container .store-links a img {
    width: 80px;
    height: 24px;
  }
}

html body footer {
  background: #000000;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

html body footer .container .col-md-4 .list-block p.title-list-block {
  font-weight: bold;
}

html body footer .container .col-md-4 .list-block ul.list-parent {
  padding-left: 10px;
  padding-bottom: 10px;
}

html body footer .container .col-md-4 .list-block ul.list-parent li.list-item {
  list-style: none;
}

html body footer .container .col-md-4 .list-block ul.list-parent li.list-item a {
  color: white;
}

html body footer .container .companie {
  justify-content: space-between;
  padding-top: 40px;
  line-height: 1.9;
}

html body footer .container .companie .policy, html body footer .container .companie .contacts {
  padding-left: 0;
}

html body footer .container .companie .policy a, html body footer .container .companie .contacts a {
  color: white;
  text-decoration: underline;
}

html body footer .container .companie .contacts {
  display: block;
  text-decoration: underline;
}

html body footer .container .companie .copy {
  line-height: 16px;
}

html body footer .container .companie .copy .icons a {
  margin-left: 10px;
}

html body footer .container .companie .copy .icons a:first-child {
  margin-left: 0;
}

html body footer .container .companie .copy .icons a i {
  font-size: 0.8rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-top: 7px;
  text-align: center;
  border: 1px solid white;
  color: white;
  transition: color 0.7s ease-in-out, background 0.5s ease-in, box-shadow 1s ease-in-out;
}

html body footer .container .companie .copy .icons a i:hover {
  background: white;
  color: #1a1a1a;
  box-shadow: 0 0 5px whitesmoke;
}

html body .breadcrumb {
  padding-top: 30px;
  padding-bottom: 0;
}

html body .breadcrumb .container nav ol.breadcrumb li.breadcrumb-item a {
  color: #3b3b3b !important;
}

html body section.card_main .container {
  display: flex;
  padding-bottom: 40px;
  flex-wrap: wrap;
}

html body section.card_main .container h1.title-card {
  font-weight: bold;
  padding-bottom: 30px;
  flex-basis: 100%;
}

html body section.card_main .container .left-side .item-slide img.main-img {
  width: 100%;
  object-fit: cover;
}

html body section.card_main .container .left-side .item-slide .img-card {
  margin-top: 20px;
  padding-left: 0;
}

html body section.card_main .container .left-side .item-slide .img-card img {
  padding-left: 10px;
  width: 86%;
  max-height: 115px;
  opacity: 0.7;
  object-fit: cover;
}

html body section.card_main .container .left-side .item-slide .img-card img:first-child {
  padding-left: 0;
}

html body section.card_main .container .left-side .item-slide .img-card .active {
  opacity: 1;
}

html body section.card_main .container .right-side .prop-content {
  padding-top: 0px;
}

html body section.card_main .container .right-side .prop-content .block-title {
  font-weight: bold;
}

html body section.card_main .container .right-side .prop-content .card-prop tbody tr th, html body section.card_main .container .right-side .prop-content .card-prop tbody tr td {
  padding-left: 0;
  padding-bottom: 0;
  border: none;
  font-weight: normal;
}

html body section.card_main .container .right-side .prop-content .cost-content {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

html body section.card_main .container .right-side .prop-content .cost-content .cost, html body section.card_main .container .right-side .prop-content .cost-content .hour-dock, html body section.card_main .container .right-side .prop-content .cost-content .location {
  font-weight: bold;
}

html body section.card_main .container .right-side .prop-content .cost-content .cost img, html body section.card_main .container .right-side .prop-content .cost-content .hour-dock img, html body section.card_main .container .right-side .prop-content .cost-content .location img {
  width: 25px;
}

html body section.card_main .container .right-side .prop-content .cost-content i {
  font-weight: 300;
}

html body section.card_main .container .right-side .prop-content .desc {
  padding-bottom: 20px;
}

html body section.card_main .container .right-side .prop-content .client-contact-info {
  font-size: 0.8rem;
  padding-bottom: 20px;
}

html body section.card_main .container .right-side .prop-content .client-contact-info p {
  line-height: 0.1;
  opacity: 0.7;
}

html body section.card_main .container .right-side .prop-content .bottom-content {
  display: flex;
  justify-content: space-between;
}

html body section.card_main .container .right-side .prop-content .bottom-content button {
  border: none;
  border-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
}

html body section.card_main .container .right-side .prop-content .bottom-content button.order {
  background: #fecc11;
  width: 9rem;
}

html body section.card_main .container .right-side .prop-content .bottom-content button.number {
  background: #1a1a1a;
  color: #fecc11;
  border: none;
  min-height: 2.2rem;
  line-height: 12px;
  text-shadow: 0 0 1px #fecc11;
}

html body section.card_main .container .right-side .prop-content .bottom-content button.on-map {
  background: transparent;
  border: 2px solid black;
  font-size: 0.9rem;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
  transition: color 0.5s ease-in, background 0.7s ease-in-out, text-shadow 0.5s ease-in-out;
}

html body section.card_main .container .right-side .prop-content .bottom-content button.on-map:hover {
  background: #000;
  color: whitesmoke;
  text-shadow: 0 0 1px whitesmoke;
}

html body section.also-by-client {
  padding-top: 50px;
  background: whitesmoke;
  padding-bottom: 50px;
}

html body section.also-by-client .container h1.title-content {
  font-weight: bold;
  font-size: 2.2rem;
}

html body section.also-by-client .container .card-block {
  margin-top: 40px;
}

html body section.also-by-client .container .card-block .card {
  padding: 0;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  transition: box-shadow 0.7s ease-in-out;
}

html body section.also-by-client .container .card-block .card:first-child {
  margin-left: 0;
}

html body section.also-by-client .container .card-block .card:hover {
  box-shadow: 0 0 25px rgba(169, 169, 169, 0.7);
}

html body section.also-by-client .container .card-block .card .card-body {
  padding: 0;
}

html body section.also-by-client .container .card-block .card .card-body img.card-image {
  width: 100%;
}

html body section.also-by-client .container .card-block .card .card-body .card-data {
  padding: 15px;
}

html body section.also-by-client .container .card-block .card .card-body .card-data span.card-title {
  font-weight: bold;
}

html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block {
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
}

html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block table.props {
  width: 100%;
}

html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block table.props tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block table.props tr th, html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block table.props tr td {
  padding-right: 7px;
  padding-left: 7px;
  font-weight: normal;
  padding-bottom: 0;
}

html body section.also-by-client .container .card-block .card .card-body .card-data .bottom-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

html body section.also-by-client .container .card-block .card .card-body .card-data .bottom-content button.more {
  padding-left: 0;
  color: gray;
}

html body section.also-by-client .container .card-block .card .card-body .card-data .bottom-content button.order {
  background: #fecc11;
  font-weight: bold;
}

html body section.login .container {
  margin-top: 70px;
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

html body section.login .container .login-block, html body section.login .container .signup-block {
  box-shadow: 0 0 25px #8E8892;
  border-radius: 5px;
  padding: 90px;
  margin-top: 40px;
}

html body section.login .container .login-block .title-block, html body section.login .container .signup-block .title-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

html body section.login .container .login-block .title-block h1.title-block, html body section.login .container .signup-block .title-block h1.title-block {
  font-size: 1.7rem;
}

html body section.login .container .login-block .title-block .reg_link, html body section.login .container .signup-block .title-block .reg_link {
  font-size: 1.5rem;
  color: #4E4852;
  text-decoration: underline;
}

html body section.login .container .login-block form .form-group, html body section.login .container .signup-block form .form-group {
  padding-bottom: 7px;
}

html body section.login .container .login-block form .form-group label, html body section.login .container .signup-block form .form-group label {
  line-height: 0.7;
  text-shadow: 0 0 1px gray;
}

html body section.login .container .login-block form .form-group input.form-control, html body section.login .container .signup-block form .form-group input.form-control {
  border-radius: 0;
}

html body section.login .container .login-block form .desc, html body section.login .container .signup-block form .desc {
  padding-bottom: 0;
}

html body section.login .container .login-block form .desc p.policy, html body section.login .container .signup-block form .desc p.policy {
  font-size: 0.9rem;
}

html body section.login .container .login-block form .bottom-form, html body section.login .container .signup-block form .bottom-form {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

html body section.login .container .login-block form .bottom-form button, html body section.login .container .signup-block form .bottom-form button {
  width: 45%;
  border-radius: 0;
}

html body section.login .container .login-block form .bottom-form button.send, html body section.login .container .signup-block form .bottom-form button.send {
  font-weight: bold;
  background: #fecc11;
  outline: none;
}

html body section.login .container .login-block form .bottom-form .sign_up, html body section.login .container .signup-block form .bottom-form .sign_up {
  width: 100%;
  height: 70px;
}

html body section.order-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

html body section.order-form .container {
  display: flex;
  justify-content: center;
}

html body section.order-form .container .order-form {
  padding: 100px;
  padding-top: 120px;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 0 25px #8E8892;
}

html body section.order-form .container .order-form form .form-group {
  display: flex;
}

html body section.order-form .container .order-form form .form-group label {
  width: 70%;
  text-shadow: 0 0 1px black;
}

html body section.order-form .container .order-form form .form-group button {
  height: 40px;
  border-radius: 0;
  text-shadow: 0 0 1px black;
}

html body section.order-form .container .order-form form .btn-col {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

html body section.order-form .container .order-form form .btn-col .left-side button.order {
  width: 200px;
  background: #fecc11;
  height: 40px;
}

html body section.order-form .container .order-form form .btn-col .right-side {
  display: flex;
  justify-content: space-between;
}

html body section.order-form .container .order-form form .btn-col .right-side button {
  border: 2px solid #1a1a1a;
  margin-left: 10px;
  width: 240px;
}

html body section.order-form .container .order-form form .btn-col .right-side button:nth-child(2) {
  width: 280px;
}

html body section.order-form .container .order-form form .policy {
  padding-top: 15px;
}

html body section.order-form .container .order-form form .policy input[type="checkbox"]:before {
  background: #fecc11;
}

html body section.order-form .container .order-form form .policy input[type="checkbox"]:after {
  content: "";
  background: #fecc11;
}

html body section.order-form .container .order-form form .policy p.policy-text {
  padding-left: 5px;
  margin-top: -4px;
}
