$hd: " only screen and (min-width: 1920px)"
$lg: " only screen and (min-width: 1201px) and (max-width: 1919px)"
$laptop: " only screen and (min-width: 769px) and (max-width: 1200px)"
$not-device: "only screen and (min-width: 920px)"
$tablet: " only screen and (min-width: 481px) and (max-width: 768px)"
$phone: " only screen and (min-width: 320px) and (max-width: 480px)"


$fsize: "2.5rem"


html
    body
        header
            nav.nav-first
                height: 55px
                box-shadow: 0 10px 1px #FFCD11
                .navbar-collapse
                  ul.navbar-nav
                    li
                      a
                        color: #FFCD11 !important
                      .choicecity
                        text-decoration: underline
                        font-size: 0.9rem
                #navbarNavDropdownStart
                  @media #{$not-device}
                    display: flex
                  justify-content: flex-start
                #navbarNavDropdown
                  @media #{$not-device}
                    display: flex
                  justify-content: flex-end
            .nav-second
              height: 105px
              display: flex
              //background: #1E252B
              .bottom-nav
                margin-top: 20px
                height: 100px
                //background: lightgrey
                .brand
                  position: relative
                  top: 0px
                  display: block
                  //background: #1e7e34
                  img
                    margin-left: 10px
                    width: 80px
                  span.brand-text
                    left: -15px
                    background: #FFCD11
                    padding: 8px
                    position: relative
                    top: 10px

                .cat-right-block
                  ul.nav-pills
                    //width: 0px
                    display: flex
                    justify-content: space-around

                    .nav-item
                      a
                        color: black
                        font-size: 1rem
                        padding-top: 25px
                        padding-bottom: 25px
                        transition: border 1s ease-in-out
                      &:hover
                        //border-bottom: 10px solid #FFCD11
                        //padding-left: 0%
                        //padding-right: 0%
                        //border-radius: 0px
                      .active
                        background: transparent
                        border-bottom: 10px solid #FFCD11
                        padding-left: 0%
                        padding-right: 0%
                        border-radius: 0px
                .rent-equip
                  padding: 0
                  position: relative
                  left: -40px
                  button.rent
                    height: 45px
                    border-radius: 2px
                    width: 170px
                    font-weight: 600
        section.main-1
          z-index: -1
          width: 100%
          height: auto
          background: rgba(black, 0.5)
          background-image: url("../img/main-bkg.jpg")
          background-repeat: no-repeat
          background-size: 100%
          .container
            //background: #FFCD11
            height: 100%
            .top-content
              padding-top: 77px
              h1.title
                color: #fff
                font-weight: bold
              p.your-equip
                color: #fff
                padding-top: 10px
                padding-bottom: 10px
                font-size: 1.3rem
              .search-form
                form
                  background: transparent
                  border: none
                  .form-group
                    .label-input
                      color: #FFFFFF
                      padding-top: 5px
                      a
                        color: #FFCD11
                        text-decoration: underline
                        padding-left: 10px
                margin-bottom: 100px
            .pre-block
              .card_desc,.card-body
                color: white
                border: none
                background: transparent !important
                .card-body
                  img
                    width: 90px
                    padding-bottom: 10px
                  .card-title
                    font-weight: bold
                    font-size: 1.4rem
                    text-decoration: underline
                    padding-bottom: 5px

        section.category
          .container
            padding-top: 70px
            h1.title
              font-size: 1.7rem
              font-weight: bold
            .slide-category
              .slider-list
                .items
                  background: #FFFFFF
          .search-map
            &::before
              background-image: url("../img/map.png")
              content: ""
              display: block
              position: absolute
              background-size: cover
              width: 100%
              height: 100%
              left: 0
              top: 0
              z-index: -2
              opacity: 0.7
            position: relative
            height: 140px
            .container 
              display: flex
              justify-content: space-between
              padding: 0
              height: 100%
              align-items: center
              h1.title-content
                font-weight: bold
                font-size: 1.7rem
                text-shadow: 0 0 2px black
              button.search-on-map
                background: #2a2b29
                font-size: 1.1rem
                text-shadow: 0 0 3px #fecc11
                color: #fecc11
                padding: 10px
                padding-left: 14px
                padding-right: 14px
                border-radius: 0px
        section.item-container
          padding-top: 40px
          height: 1000px
          background: whitesmoke
          .container
            height: 100%
            .left-block

              .list-block
                margin-top: 30px
                .title-list-block
                  width: 100%
                  background: #4E4852
                  color: whitesmoke
                  padding-left: 15px
                  height: 25px
                .cat-list
                  background: white
                  padding-left: 25px
                  .cat-item
                    list-style: none
                    a
                      color: #1a1a1a

            .right-block
              //background: #6c757d
              .card
                height: 300px
                margin-top: 30px
                box-shadow: 0px 5px 25px rgba(#000, 0.2)
                border: none
                transition: box-shadow 0.7s ease-in-out
                &:hover
                  box-shadow: 0px 5px 25px rgba(#000, 0.3)
                .card-body
                  padding: 0
                  .card-thumb
                    height: 100%
                    width: 100%
                    background: #fec
                    background-size: cover
                    height: 100%
                  .right-side-card
                    padding-left: 15px
                    padding-right: 25px
                    .card-title
                      height: 40px
                      margin-top: 20px
                      font-size: 1.3rem
                      font-weight: bold
                    .card-prop
                      margin-top: 20px
                      .table
                        tbody
                          tr
                            th, td
                              border: none
                              padding: 0
                              padding-bottom: 5px
                            th
                              width: 70%
                              font-weight: normal
                            td
                              width: 30%
                              text-align: right
                    .cost-content
                      display: flex
                      justify-content: space-between
                      height: 40px
                      font-size: 0.9rem
                      text-shadow:  0 0 1px black
                      height: 40px
                      img
                        width: 20px
                    .card-bottom-content
                      display: flex
                      justify-content: space-between
                      button
                        height: 2.2rem
                        padding-left: 10px
                        padding-right: 10px
                        border: none
                        text-shadow: 0 0 1px black
                      button.more
                        background: none
                        padding-left: 0
                      .right-side
                        width: 59%
                        display: flex
                        justify-content: space-between
                        button.order
                          background: #fecc11
                        button.number
                          background: #3b3b3b
                          color: #fecc11
                          text-shadow: 0 0 1px #fecc11















