.yel-btn {
  background-color: #FFCD11;
  color: #000000;
  box-shadow: 0px 0px 15px #E5E5E5;
  border: 2px solid #FFCD11;
  font-weight: bold; }

.dark-btn {
  background-color: #3B3B3B;
  color: #FFFFFF; }

.wh-btn {
  background-color: transparent;
  border: 3px solid #3B3B3B;
  color: #3B3B3B;
  font-weight: bold;
  transition: color 0.5s ease-in, background 0.7s ease-in-out, border-color 0.4s ease; }
  .wh-btn:hover {
    background: #000;
    color: whitesmoke;
    border-color: #FFCD11; }

.blue-a {
  color: #21ADD9; }

html body {
  color: #000000;
  background-color: #F5F5F5;
  font-family: "PFDinTextCondPro-Regular", sans-serif; }
  @media screen and (min-width: 320px) {
    html body {
      font-size: 14px; }
      html body .card-bottom-content {
        font-size: 16px; } }
  @media screen and (max-width: 560px) {
    html body h1 {
      font-size: 16px; } }
  @media screen and (min-width: 561px) {
    html body h1 {
      font-size: 20px; } }
  @media screen and (min-width: 768px) {
    html body {
      font-size: 16px; }
      html body h1 {
        font-size: 24px; } }
  @media screen and (min-width: 1024px) {
    html body {
      font-size: 18px; } }
  @media screen and (min-width: 1440px) {
    html body {
      font-size: 20px; }
      html body h1 {
        font-size: 30px; } }
  html body h1, html body h2 {
    font-weight: bold !important; }
  html body h2 {
    font-size: inherit; }
  @media screen and (min-width: 560px) {
    html body .card-bottom-content {
      font-size: inherit; } }
  html body .card {
    border-radius: 0; }
  html body caption {
    caption-side: top; }
  html body .header-and-promo {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 8.33%, rgba(0, 0, 0, 0.36) 100%), url("../img/main-bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #3B3B3B; }
    @media screen and (max-width: 475px) {
      html body .header-and-promo {
        background-image: url("../img/main-bg-mobile.jpg"); } }
  html body button.btn {
    border-radius: 0;
    font-size: inherit; }
  html body header nav.nav-first {
    border-bottom: 10px solid #FFCD11; }
    @media screen and (max-width: 425px) {
      html body header nav.nav-first {
        border: none;
        background-color: #000000; } }
    html body header nav.nav-first .container {
      color: #FFCD11; }
      html body header nav.nav-first .container .dropdown .dropdown-toggle::after {
        display: none; }
      html body header nav.nav-first .container .dropdown-menu {
        background-color: #000000;
        top: 30px;
        left: -16px;
        height: 350px;
        width: 100vw; }
        html body header nav.nav-first .container .dropdown-menu .dropdown-item {
          padding: 20px 0 5px 0;
          color: #FFFFFF;
          border-bottom: 1px solid rgba(196, 196, 196, 0.3); }
          html body header nav.nav-first .container .dropdown-menu .dropdown-item.active, html body header nav.nav-first .container .dropdown-menu .dropdown-item:focus, html body header nav.nav-first .container .dropdown-menu .dropdown-item:hover {
            background-color: transparent;
            color: #FFCD11; }
          html body header nav.nav-first .container .dropdown-menu .dropdown-item:focus {
            outline: none; }
        html body header nav.nav-first .container .dropdown-menu .btn {
          font-weight: bold; }
      html body header nav.nav-first .container .location-choose {
        cursor: pointer; }
        html body header nav.nav-first .container .location-choose .choicecity {
          text-decoration: underline;
          text-underline-position: under; }
      html body header nav.nav-first .container .navbar-toggler-icon {
        background-image: url("../img/icons/menu-icon.svg");
        width: 22px;
        height: 17px; }
      html body header nav.nav-first .container a.nav-link {
        color: #FFCD11; }
        html body header nav.nav-first .container a.nav-link:hover {
          color: #FFCD11; }
  html body header .nav-second {
    background-color: white; }
    html body header .nav-second .bottom-nav .brand {
      top: 0px;
      display: block; }
      html body header .nav-second .bottom-nav .brand span.brand-text {
        background: #FFCD11;
        padding: 8px;
        bottom: -50%; }
    html body header .nav-second .bottom-nav .cat-right-block .nav-item a {
      color: black;
      padding: 1rem 0.5rem;
      transition: border 1s ease-in-out;
      height: 100%; }
    html body header .nav-second .bottom-nav .cat-right-block .nav-item .active {
      background: transparent;
      border-bottom: 10px solid #FFCD11;
      border-radius: 0px; }
    html body header .nav-second .bottom-nav .rent-equip {
      padding: 0; }
      html body header .nav-second .bottom-nav .rent-equip button.rent {
        font-weight: 600; }
  html body section.main-1 {
    z-index: -1;
    width: 100%;
    height: auto; }
    html body section.main-1 .container {
      height: 100%; }
      html body section.main-1 .container .top-content h1.title {
        color: #fff;
        font-weight: bold; }
        @media screen and (max-width: 600px) {
          html body section.main-1 .container .top-content h1.title {
            font-size: 20px; } }
        @media screen and (min-width: 1024px) {
          html body section.main-1 .container .top-content h1.title {
            font-size: 30px; } }
        @media screen and (min-width: 1440px) {
          html body section.main-1 .container .top-content h1.title {
            font-size: 36px; } }
      html body section.main-1 .container .top-content p.your-equip {
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px; }
      html body section.main-1 .container .top-content .search-form form {
        background: transparent;
        padding-left: 0;
        border: none; }
        html body section.main-1 .container .top-content .search-form form .form-group input, html body section.main-1 .container .top-content .search-form form .form-group button {
          border-radius: 0;
          font-size: inherit; }
        html body section.main-1 .container .top-content .search-form form .form-group button {
          font-weight: bold; }
          html body section.main-1 .container .top-content .search-form form .form-group button:focus {
            box-shadow: 0px 0px 5px 1px #FFCD11;
            border: none; }
        html body section.main-1 .container .top-content .search-form form .form-group .label-input {
          color: #FFFFFF;
          padding-top: 5px; }
          html body section.main-1 .container .top-content .search-form form .form-group .label-input a {
            color: #FFCD11;
            text-decoration: underline;
            padding-left: 10px; }
      html body section.main-1 .container .pre-block {
        flex-wrap: nowrap; }
        html body section.main-1 .container .pre-block .card_desc, html body section.main-1 .container .pre-block .card-body {
          color: white;
          border: none;
          background: transparent !important; }
          html body section.main-1 .container .pre-block .card_desc .card-body img, html body section.main-1 .container .pre-block .card-body .card-body img {
            width: 100%; }
          html body section.main-1 .container .pre-block .card_desc .card-body .icon-rotate, html body section.main-1 .container .pre-block .card-body .card-body .icon-rotate {
            transform: rotate(180deg); }
          html body section.main-1 .container .pre-block .card_desc .card-body .card-title, html body section.main-1 .container .pre-block .card-body .card-body .card-title {
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 0; }
          html body section.main-1 .container .pre-block .card_desc .card-body:hover, html body section.main-1 .container .pre-block .card-body .card-body:hover {
            color: #FFCD11; }
          html body section.main-1 .container .pre-block .card_desc .card-body .card-text, html body section.main-1 .container .pre-block .card-body .card-body .card-text {
            line-height: 1.3; }
  html body section.popular h1 {
    font-weight: bold; }
  html body section.popular .carousel-item {
    height: 180px; }
  html body section.popular .carousel-caption {
    position: static;
    padding: 0;
    padding-top: 15px; }
    html body section.popular .carousel-caption p {
      color: #000000; }
  html body section.popular ol.carousel-indicators li {
    box-sizing: border-box;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #3B3B3B;
    border: 2px solid #3B3B3B;
    opacity: 1; }
    html body section.popular ol.carousel-indicators li.active {
      background-color: transparent; }
  html body section.popular .carousel-control-prev {
    opacity: 1; }
    html body section.popular .carousel-control-prev .carousel-control-prev-icon {
      background: #FFCD11;
      width: 30px;
      height: 30px;
      opacity: 1; }
      html body section.popular .carousel-control-prev .carousel-control-prev-icon i {
        color: #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%); }
  html body section.popular .carousel-control-next {
    opacity: 1; }
    html body section.popular .carousel-control-next .carousel-control-next-icon {
      background: #FFCD11;
      width: 30px;
      height: 30px;
      opacity: 1; }
      html body section.popular .carousel-control-next .carousel-control-next-icon i {
        color: #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%); }
  html body section.category {
    background-color: #f5f5f5; }
    html body section.category .container h1.title {
      font-weight: bold; }
  html body .search-map {
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 51.6%, rgba(255, 255, 255, 0.4) 99.06%), url("../img/map2.jpg");
    background-size: cover; }
    html body .search-map .container {
      display: flex;
      justify-content: space-between;
      padding: 0;
      height: 100%;
      align-items: center; }
      @media screen and (max-width: 768px) {
        html body .search-map .container {
          flex-direction: column;
          justify-content: center; }
          html body .search-map .container h1.title-content {
            text-align: center; } }
      html body .search-map .container h1.title-content {
        font-weight: bold;
        padding-bottom: 5px; }
      html body .search-map .container button.search-on-map {
        background: #2a2b29;
        color: #fecc11;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 0px; }
  html body section.item-container {
    height: auto;
    background: whitesmoke; }
    html body section.item-container .container {
      height: 100%; }
      @media (max-width: 768px) {
        html body section.item-container .container {
          max-width: 860px; } }
      @media (max-width: 576px) {
        html body section.item-container .container {
          max-width: 710px; } }
      html body section.item-container .container h1 {
        font-weight: bold; }
      html body section.item-container .container .left-block .title-block {
        font-weight: bold; }
      html body section.item-container .container .left-block a.title-list-block {
        width: 100%;
        background: #3B3B3B;
        color: #FFFFFF;
        padding-left: 15px;
        min-height: 25px;
        display: block;
        width: 100%; }
        html body section.item-container .container .left-block a.title-list-block:hover {
          color: #FFCD11; }
      html body section.item-container .container .left-block .list-block .title-list-block {
        width: 100%;
        background: #3B3B3B;
        color: #FFFFFF;
        padding-left: 15px;
        min-height: 25px; }
      html body section.item-container .container .left-block .list-block a.title-list-block {
        display: block;
        width: 100%; }
        html body section.item-container .container .left-block .list-block a.title-list-block:hover {
          color: #FFCD11; }
      html body section.item-container .container .left-block .list-block .cat-list {
        background: white;
        padding: 10px 0;
        margin-bottom: 10px; }
        html body section.item-container .container .left-block .list-block .cat-list .cat-item {
          list-style: none; }
          html body section.item-container .container .left-block .list-block .cat-list .cat-item a {
            padding-left: 25px;
            color: #1a1a1a;
            display: inline-block;
            width: 100%; }
            html body section.item-container .container .left-block .list-block .cat-list .cat-item a:hover {
              color: white;
              background-color: #9a9a9a; }
      html body section.item-container .container .left-block .list-block .order-double-click {
        text-align: center;
        display: flex;
        border: none; }
        html body section.item-container .container .left-block .list-block .order-double-click .card-body {
          padding: 0;
          margin-bottom: 10px; }
          html body section.item-container .container .left-block .list-block .order-double-click .card-body img {
            width: 100%; }
          html body section.item-container .container .left-block .list-block .order-double-click .card-body .title-item {
            margin-top: 10px;
            padding: 0; }
          html body section.item-container .container .left-block .list-block .order-double-click .card-body a.order {
            bottom: 10px;
            font-weight: bold;
            background: #fecc11;
            color: #1a1a1a;
            padding: 7px;
            padding-left: 10px;
            padding-right: 10px; }
      html body section.item-container .container .left-block .list-block .order-ask {
        padding: 0;
        display: flex;
        border: none;
        margin-bottom: 1rem; }
        html body section.item-container .container .left-block .list-block .order-ask:last-child {
          margin-bottom: 0; }
        html body section.item-container .container .left-block .list-block .order-ask .title-ask {
          min-height: 40px;
          font-weight: bold;
          margin-bottom: 5px;
          background: #fecc11;
          padding: 10px 0; }
        html body section.item-container .container .left-block .list-block .order-ask .card-body {
          padding-top: 0px; }
          html body section.item-container .container .left-block .list-block .order-ask .card-body .ask-desc {
            text-align: left; }
          html body section.item-container .container .left-block .list-block .order-ask .card-body button.number {
            background: #3B3B3B;
            color: #FFCD11;
            border: none;
            min-height: 2.2rem;
            line-height: 12px;
            padding-right: 10px;
            padding-right: 10px; }
      html body section.item-container .container .right-block h1 {
        font-weight: bold; }
      html body section.item-container .container .right-block .card {
        border: none;
        transition: box-shadow 0.5s ease-in-out; }
        html body section.item-container .container .right-block .card:hover {
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); }
        html body section.item-container .container .right-block .card .card-body {
          padding: 0; }
          html body section.item-container .container .right-block .card .card-body .card-thumb {
            min-height: 200px;
            width: 100%;
            background: #fec;
            background-size: cover;
            background-position: 50% 50%;
            display: inline-block; }
          html body section.item-container .container .right-block .card .card-body .right-side-card .card-title {
            font-size: 1.1em;
            font-weight: bold; }
          html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop .table tbody tr {
            display: flex;
            justify-content: space-between; }
            html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop .table tbody tr th, html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop .table tbody tr td {
              border: none;
              padding: 0;
              padding-bottom: 5px; }
            html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop .table tbody tr th {
              font-weight: normal; }
              @media screen and (max-width: 475px) {
                html body section.item-container .container .right-block .card .card-body .right-side-card .card-prop .table tbody tr th {
                  color: #757575; } }
          html body section.item-container .container .right-block .card .card-body .right-side-card .cost-content {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px; }
          html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content {
            display: flex;
            justify-content: space-between; }
            html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content button {
              padding-left: 10px;
              padding-right: 10px;
              border: none;
              font-weight: inherit; }
            html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content button.more {
              background: none;
              padding-left: 0; }
            html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content button.order {
              background: #fecc11; }
            html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content button.number {
              background: #3b3b3b;
              color: #fecc11;
              line-height: 12px;
              min-height: 2.2rem; }
            html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content .right-side {
              width: 59%;
              display: flex;
              justify-content: space-between; }
              html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content .right-side button.order {
                background: #fecc11; }
              html body section.item-container .container .right-block .card .card-body .right-side-card .card-bottom-content .right-side button.number {
                background: #3b3b3b;
                color: #fecc11;
                line-height: 12px;
                min-height: 2.2rem; }
      html body section.item-container .container .right-block .more-content button.more-items {
        background: transparent;
        border: 2px solid black;
        box-shadow: 0 0 1px #000;
        transition: color 0.5s ease-in, background 0.7s ease-in-out; }
        html body section.item-container .container .right-block .more-content button.more-items:hover {
          background: #000;
          color: whitesmoke;
          text-shadow: 0 0 1px whitesmoke; }
      html body section.item-container .container .similar-technique .card {
        padding: 0; }
        @media screen and (max-width: 475px) {
          html body section.item-container .container .similar-technique .card .cost-content span.card-title, html body section.item-container .container .similar-technique .card .cost-content .location {
            font-weight: 400; }
          html body section.item-container .container .similar-technique .card .cost-content div.location {
            color: #757575; } }
        html body section.item-container .container .similar-technique .card .card-thumb {
          height: auto;
          width: 100%; }
      @media screen and (max-width: 575px) {
        html body section.item-container .container .similar-technique .card-block .card {
          background-color: transparent; }
          html body section.item-container .container .similar-technique .card-block .card:nth-child(odd) {
            padding-right: 5px; }
          html body section.item-container .container .similar-technique .card-block .card:nth-child(even) {
            padding-left: 5px; } }
  @media screen and (max-width: 575px) and (min-width: 576px) {
    html body section.item-container .container .similar-technique .card-block .card {
      padding: 0; } }
      html body section.item-container .container .similar-technique h1 {
        font-weight: bold; }
  html body section.service-block {
    background: whitesmoke;
    padding-top: 40px;
    padding-bottom: 40px; }
    html body section.service-block .container {
      display: flex; }
      html body section.service-block .container .left-block {
        height: 280px; }
        html body section.service-block .container .left-block .card-image {
          width: 100%;
          height: 100%;
          object-fit: cover; }
  html body section.on-app {
    background: #3B3B3B;
    color: #FFFFFF; }
    html body section.on-app .container {
      display: flex; }
      html body section.on-app .container .left-block {
        margin-left: 0;
        padding-left: 0; }
        html body section.on-app .container .left-block img.screen {
          width: 90%; }
      html body section.on-app .container .right-block .title-block {
        color: #fecc11;
        font-weight: bold; }
        @media screen and (max-width: 600px) {
          html body section.on-app .container .right-block .title-block {
            font-size: 20px; } }
        @media screen and (min-width: 1024px) {
          html body section.on-app .container .right-block .title-block {
            font-size: 30px; } }
        @media screen and (min-width: 1440px) {
          html body section.on-app .container .right-block .title-block {
            font-size: 36px; } }
      html body section.on-app .container .right-block .desc-block {
        padding-bottom: 20px; }
        html body section.on-app .container .right-block .desc-block .title-desc {
          color: white;
          font-size: 1.4em; }
        html body section.on-app .container .right-block .desc-block ul li.desc-item {
          padding-bottom: 10px;
          color: white;
          list-style: none; }
          html body section.on-app .container .right-block .desc-block ul li.desc-item i {
            color: #fecc11;
            font-size: 0.5em;
            margin-right: 1em; }
  html body footer {
    background: #000000;
    color: white; }
    html body footer .container .col-md-4 .list-block {
      padding-bottom: 40px; }
      html body footer .container .col-md-4 .list-block p.title-list-block {
        font-weight: bold; }
      html body footer .container .col-md-4 .list-block ul.list-parent {
        padding-left: 10px;
        padding-bottom: 10px; }
        html body footer .container .col-md-4 .list-block ul.list-parent li.list-item {
          list-style: none; }
          html body footer .container .col-md-4 .list-block ul.list-parent li.list-item a {
            color: white; }
    html body footer .container .companie {
      justify-content: space-between;
      line-height: 1.9; }
      html body footer .container .companie > div {
        flex-basis: 100%; }
      html body footer .container .companie .policy a {
        display: block; }
      html body footer .container .companie .policy, html body footer .container .companie .contacts {
        padding-left: 0; }
        html body footer .container .companie .policy a, html body footer .container .companie .contacts a {
          color: white;
          text-decoration: underline; }
      html body footer .container .companie .contacts {
        display: block;
        text-decoration: underline; }
      html body footer .container .companie .copy .copy-companie {
        line-height: 16px; }
      html body footer .container .companie .icons a {
        margin-left: 10px;
        display: inline-block; }
        html body footer .container .companie .icons a:first-child {
          margin-left: 0; }
        html body footer .container .companie .icons a i {
          position: relative;
          font-size: 0.8rem;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          border: 1px solid white;
          color: white;
          transition: color 0.7s ease-in-out, background 0.5s ease-in, box-shadow 1s ease-in-out; }
          html body footer .container .companie .icons a i:hover {
            background: white;
            color: #1a1a1a;
            box-shadow: 0 0 5px whitesmoke; }
          html body footer .container .companie .icons a i::before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%); }
  html body .breadcrumb {
    background-color: inherit; }
    html body .breadcrumb .container nav ol.breadcrumb li.breadcrumb-item {
      padding: 0;
      text-decoration: underline;
      text-underline-position: under; }
      html body .breadcrumb .container nav ol.breadcrumb li.breadcrumb-item.active {
        text-decoration: none; }
      html body .breadcrumb .container nav ol.breadcrumb li.breadcrumb-item::before {
        display: none;
        content: ''; }
      html body .breadcrumb .container nav ol.breadcrumb li.breadcrumb-item a {
        color: #3B3B3B; }
      html body .breadcrumb .container nav ol.breadcrumb li.breadcrumb-item i {
        font-size: 0.9em !important;
        color: #FFCD11; }
  @media screen and (min-width: 768px) {
    html body section.card_main {
      background-color: #FFFFFF; } }
  html body section.card_main .container {
    display: flex;
    flex-wrap: wrap; }
    html body section.card_main .container h1.title-card {
      font-weight: bold;
      padding-bottom: 30px;
      flex-basis: 100%; }
      @media screen and (max-width: 320px) {
        html body section.card_main .container h1.title-card {
          font-size: 16px; } }
    html body section.card_main .container .left-side .slide-mini .col-4 {
      padding: 0 7px; }
      html body section.card_main .container .left-side .slide-mini .col-4:first-child {
        padding-left: 0; }
      html body section.card_main .container .left-side .slide-mini .col-4:last-child {
        padding-right: 0; }
    html body section.card_main .container .left-side .item-slide .mySlides {
      display: none; }
      html body section.card_main .container .left-side .item-slide .mySlides img {
        position: relative; }
    html body section.card_main .container .left-side .item-slide .img-card {
      padding-bottom: 0; }
      html body section.card_main .container .left-side .item-slide .img-card::after {
        content: "";
        display: table;
        clear: both; }
      html body section.card_main .container .left-side .item-slide .img-card .column .cursor {
        cursor: pointer; }
      html body section.card_main .container .left-side .item-slide .img-card .column .demo {
        opacity: 0.6; }
      html body section.card_main .container .left-side .item-slide .img-card .column .active, html body section.card_main .container .left-side .item-slide .img-card .column .demo:hover {
        opacity: 1; }
    html body section.card_main .container .left-side .item-slide img.main-img {
      width: 100%;
      object-fit: cover; }
    html body section.card_main .container .left-side .item-slide .img-card {
      margin-top: 20px;
      padding-left: 0;
      padding-right: 0;
      justify-content: space-between;
      width: 100%; }
      html body section.card_main .container .left-side .item-slide .img-card img {
        padding-left: 10px;
        width: 33%;
        max-height: 115px;
        opacity: 0.7;
        object-fit: cover; }
        html body section.card_main .container .left-side .item-slide .img-card img:first-child {
          padding-left: 0; }
        html body section.card_main .container .left-side .item-slide .img-card img .active {
          opacity: 1; }
    html body section.card_main .container .right-side {
      background-color: #FFFFFF; }
      html body section.card_main .container .right-side .prop-content {
        padding-top: 0px; }
        html body section.card_main .container .right-side .prop-content .block-title {
          font-weight: bold; }
        html body section.card_main .container .right-side .prop-content .card-prop tbody tr {
          display: flex;
          justify-content: space-between; }
          html body section.card_main .container .right-side .prop-content .card-prop tbody tr th, html body section.card_main .container .right-side .prop-content .card-prop tbody tr td {
            padding: 0;
            padding-bottom: 5px;
            border: none;
            font-weight: normal; }
          html body section.card_main .container .right-side .prop-content .card-prop tbody tr td {
            padding-right: 0; }
          @media screen and (max-width: 475px) {
            html body section.card_main .container .right-side .prop-content .card-prop tbody tr th {
              color: #757575; } }
        html body section.card_main .container .right-side .prop-content .cost-content {
          padding-bottom: 20px; }
          html body section.card_main .container .right-side .prop-content .cost-content .cost, html body section.card_main .container .right-side .prop-content .cost-content .hour-dock, html body section.card_main .container .right-side .prop-content .cost-content .location {
            flex-basis: 100%;
            font-weight: bold;
            display: flex;
            align-items: center; }
            @media screen and (min-width: 768px) {
              html body section.card_main .container .right-side .prop-content .cost-content .cost, html body section.card_main .container .right-side .prop-content .cost-content .hour-dock, html body section.card_main .container .right-side .prop-content .cost-content .location {
                flex-basis: unset; } }
    html body section.card_main .container .bottom-button-client {
      background-color: #F5F5F5; }
      @media screen and (min-width: 768px) {
        html body section.card_main .container .bottom-button-client {
          background-color: inherit; } }
    html body section.card_main .container .bottom-content {
      display: flex;
      justify-content: space-between; }
      html body section.card_main .container .bottom-content button {
        border-radius: 0; }
      html body section.card_main .container .bottom-content button.order {
        background: #fecc11; }
        @media screen and (max-width: 575px) {
          html body section.card_main .container .bottom-content button.order {
            letter-spacing: 4px;
            text-transform: uppercase; } }
      html body section.card_main .container .bottom-content button.number {
        background: #1a1a1a;
        color: #fecc11;
        border: none; }
        html body section.card_main .container .bottom-content button.number button.on-map {
          background: transparent;
          border: 2px solid black;
          font-size: 0.9rem;
          transition: color 0.5s ease-in, background 0.7s ease-in-out, text-shadow 0.5s ease-in-out; }
          html body section.card_main .container .bottom-content button.number button.on-map:hover {
            background: #000;
            color: whitesmoke;
            text-shadow: 0 0 1px whitesmoke; }
    html body section.card_main .container .client-contact-info {
      background-color: #FFFFFF;
      font-size: 12px;
      color: #B1B1B1; }
      @media screen and (min-width: 768px) {
        html body section.card_main .container .client-contact-info {
          font-size: 0.9em; } }
      html body section.card_main .container .client-contact-info p {
        margin-bottom: 5px; }
      html body section.card_main .container .client-contact-info button.number {
        background: #3b3b3b;
        color: #fecc11; }
      html body section.card_main .container .client-contact-info .card-title, html body section.card_main .container .client-contact-info .contact-name, html body section.card_main .container .client-contact-info button {
        color: #000000;
        font-size: 14px; }
  html body section.also-by-client {
    background: whitesmoke;
    padding-bottom: 50px; }
    html body section.also-by-client .container h1.title-content {
      font-weight: bold; }
    html body section.also-by-client .container .card-block .card {
      background-color: transparent;
      padding: 0;
      border: none; }
      @media screen and (max-width: 767px) {
        html body section.also-by-client .container .card-block .card {
          width: 40%; }
          html body section.also-by-client .container .card-block .card:nth-child(odd) {
            padding-right: 5px; }
          html body section.also-by-client .container .card-block .card:nth-child(even) {
            padding-left: 5px; } }
      html body section.also-by-client .container .card-block .card:first-child {
        margin-left: 0; }
      @media screen and (min-width: 768px) {
        html body section.also-by-client .container .card-block .card {
          padding: 0 5px; }
          html body section.also-by-client .container .card-block .card:first-child {
            padding-left: 0; }
          html body section.also-by-client .container .card-block .card:last-child {
            padding-right: 0; } }
      @media screen and (min-width: 1200px) {
        html body section.also-by-client .container .card-block .card {
          padding: 0 10px; } }
      html body section.also-by-client .container .card-block .card .card-body {
        transition: box-shadow 0.7s ease-in-out;
        height: 100%; }
        html body section.also-by-client .container .card-block .card .card-body:hover {
          box-shadow: 0 0 25px rgba(169, 169, 169, 0.7); }
      html body section.also-by-client .container .card-block .card .card-body {
        padding: 0; }
        html body section.also-by-client .container .card-block .card .card-body img.card-image {
          width: 100%; }
        html body section.also-by-client .container .card-block .card .card-body .card-data {
          background-color: transparent; }
          @media screen and (min-width: 768px) {
            html body section.also-by-client .container .card-block .card .card-body .card-data {
              background-color: #FFFFFF; } }
          html body section.also-by-client .container .card-block .card .card-body .card-data span.card-title {
            font-weight: bold; }
          @media screen and (max-width: 475px) {
            html body section.also-by-client .container .card-block .card .card-body .card-data .cost-content span.card-title, html body section.also-by-client .container .card-block .card .card-body .card-data .cost-content .location {
              font-weight: 400; }
            html body section.also-by-client .container .card-block .card .card-body .card-data .cost-content div.location {
              color: #757575; } }
          html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block {
            padding-top: 10px;
            display: flex;
            padding-bottom: 10px; }
            html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block table.props {
              width: 100%; }
              html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block table.props tbody tr {
                width: 100%;
                display: flex;
                justify-content: space-between; }
                html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block table.props tbody tr th, html body section.also-by-client .container .card-block .card .card-body .card-data .prop-block table.props tbody tr td {
                  padding: 0;
                  font-weight: normal;
                  padding-bottom: 0; }
          html body section.also-by-client .container .card-block .card .card-body .card-data .bottom-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 15px; }
            html body section.also-by-client .container .card-block .card .card-body .card-data .bottom-content button.more {
              padding-left: 0;
              color: gray; }
            html body section.also-by-client .container .card-block .card .card-body .card-data .bottom-content button.order {
              background: #fecc11;
              font-weight: bold; }
  html body .item-container > .container .main-characteristics-filtr h2 {
    font-size: 20px; }
  html body .item-container > .container .main-characteristics-filtr tr th {
    font-weight: 500; }
  html body .item-container > .container .main-characteristics-filtr tr td {
    font-weight: bold; }
  html body .item-container .container.d-flex .left-block .main-characteristics-filtr, html body .item-container .container.d-flex .left-block .search-map {
    margin-bottom: 20px; }
  html body .item-container .container.d-flex .left-block .main-characteristics-filtr {
    padding: 20px 15px;
    background-color: #FEFEFE; }
    html body .item-container .container.d-flex .left-block .main-characteristics-filtr h1 {
      font-weight: bold; }
    html body .item-container .container.d-flex .left-block .main-characteristics-filtr table {
      width: 100%; }
      html body .item-container .container.d-flex .left-block .main-characteristics-filtr table th {
        font-weight: normal;
        color: #3B3B3B; }
      html body .item-container .container.d-flex .left-block .main-characteristics-filtr table td {
        text-align: right; }
        html body .item-container .container.d-flex .left-block .main-characteristics-filtr table td select {
          border: 1px solid #E5E5E5;
          width: 60px;
          font-weight: bold; }
  html body .item-container .container.d-flex .left-block .search-map {
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 51.6%, rgba(255, 255, 255, 0.4) 99.06%), url("../img/map2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0; }
    html body .item-container .container.d-flex .left-block .search-map .container {
      flex-direction: column;
      align-items: center; }
      html body .item-container .container.d-flex .left-block .search-map .container button.search-on-map {
        background: #2a2b29;
        color: #fecc11;
        border-radius: 0px; }
  html body .item-container .container.d-flex .right-block .card {
    margin-bottom: 15px; }
    html body .item-container .container.d-flex .right-block .card:first-child {
      margin-top: 0; }
    html body .item-container .container.d-flex .right-block .card:last-child {
      margin-bottom: 0; }
  html body .modal input, html body .modal textarea, html body .modal select, html body .modal button {
    border-radius: 0; }
  html body .modal input, html body .modal textarea, html body .modal select {
    border: 1px solid #E5E5E5; }
  html body .modal textarea {
    resize: none; }
  html body #locationModal input[type=radio], html body #searchModal input[type=radio] {
    margin-right: 20px; }
  html body #locationModal p, html body #searchModal p {
    color: #B1B1B1; }
  html body #locationModal input[type=text], html body #searchModal input[type=text] {
    width: 100%;
    padding: 7px 0 7px 7%;
    border: 1px solid #E5E5E5; }
    html body #locationModal input[type=text]:focus, html body #searchModal input[type=text]:focus {
      box-shadow: 0px 0px 4px 0px #FFCD11;
      outline: 1px solid #FFCD11; }
    html body #locationModal input[type=text]::placeholder, html body #searchModal input[type=text]::placeholder {
      color: #B1B1B1; }
  html body #signInModal .reg_link, html body #signUpModal .reg_link {
    color: #989396;
    text-decoration: underline;
    text-underline-position: under;
    font-size: inherit; }
  html body #applicationModal .modal-body .form-row {
    justify-content: space-between;
    margin: 0;
    margin-bottom: 10px;
    flex-wrap: nowrap; }
    html body #applicationModal .modal-body .form-row select, html body #applicationModal .modal-body .form-row textarea, html body #applicationModal .modal-body .form-row input {
      border-radius: 0;
      padding-left: 10px; }
      @media screen and (min-width: 768px) {
        html body #applicationModal .modal-body .form-row select, html body #applicationModal .modal-body .form-row textarea, html body #applicationModal .modal-body .form-row input {
          font-size: 16px; } }
      html body #applicationModal .modal-body .form-row select::placeholder, html body #applicationModal .modal-body .form-row textarea::placeholder, html body #applicationModal .modal-body .form-row input::placeholder {
        color: #B1B1B1; }
      html body #applicationModal .modal-body .form-row select.form-control, html body #applicationModal .modal-body .form-row textarea.form-control, html body #applicationModal .modal-body .form-row input.form-control {
        box-sizing: border-box; }
    html body #applicationModal .modal-body .form-row input, html body #applicationModal .modal-body .form-row select {
      height: 30px; }
    html body #applicationModal .modal-body .form-row textarea {
      resize: none; }
  @media screen and (max-width: 575px) {
    html body #applicationModal .modal-footer .yel-btn {
      letter-spacing: 4px;
      text-transform: uppercase; } }
  @media screen and (max-width: 575px) {
    html body #rentalModal .modal-footer .yel-btn {
      letter-spacing: 4px;
      text-transform: uppercase; } }
  html body #exampleModal .modal-body input, html body #exampleModal .modal-body select {
    height: 30px; }
  html body #exampleModal legend {
    font-size: 1.1em; }
  html body #exampleModal .form-row {
    width: 100%;
    margin: 0;
    margin-bottom: 10px; }
    html body #exampleModal .form-row .col-md-7, html body #exampleModal .form-row .col-5, html body #exampleModal .form-row .col-7 {
      padding: 0;
      padding-left: 10px; }
    html body #exampleModal .form-row label {
      padding: 0;
      margin: 0;
      margin-bottom: 5px; }
    html body #exampleModal .form-row input, html body #exampleModal .form-row textarea {
      padding-left: 7px; }
  html body #exampleModal .dark-btn:hover, html body #exampleModal .dark-btn:focus, html body #exampleModal .dark-btn:active {
    color: #FFCD11; }
  html body #exampleModal .wh-btn:hover, html body #exampleModal .wh-btn:focus, html body #exampleModal .wh-btn:active {
    border-color: #FFCD11;
    background-color: transparent;
    color: #000000; }
  html body #exampleModal .form-text {
    margin: 3px 0 0 0; }
    @media screen and (max-width: 560px) {
      html body #exampleModal .form-text {
        color: #757575; } }
  @media screen and (max-width: 575px) {
    html body #exampleModal .modal-footer .yel-btn {
      letter-spacing: 4px;
      text-transform: uppercase; } }
  html body #exampleModal .modal-foto-upload {
    height: 80px; }
    html body #exampleModal .modal-foto-upload label {
      border: 1px solid #e5e5e5;
      position: relative;
      color: #E5E5E5;
      font-size: 32px;
      margin: 0;
      flex-basis: 30%;
      flex-grow: 0; }
      @media screen and (min-width: 576px) {
        html body #exampleModal .modal-foto-upload label {
          flex-basis: 22%; } }
      @media screen and (min-width: 768px) {
        html body #exampleModal .modal-foto-upload label {
          flex-basis: 30%; } }
      @media screen and (min-width: 992px) {
        html body #exampleModal .modal-foto-upload label {
          flex-basis: 22%; } }
      html body #exampleModal .modal-foto-upload label i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%); }
  html body .order-form {
    display: none; }
    html body .order-form form * {
      border-radius: 0; }
    html body .order-form form .form-group {
      display: flex; }
      html body .order-form form .form-group input::placeholder, html body .order-form form .form-group textarea::placeholder, html body .order-form form .form-group select::placeholder {
        color: #B1B1B1; }
      html body .order-form form .form-group label {
        width: 70%;
        text-shadow: 0 0 1px black; }
      html body .order-form form .form-group textarea {
        resize: none; }
      html body .order-form form .form-group button {
        height: 40px;
        text-shadow: 0 0 1px black; }
    html body .order-form form .btn-col {
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between; }
      html body .order-form form .btn-col .left-side button.order {
        background: #fecc11;
        height: 40px; }
      html body .order-form form .btn-col .right-side {
        display: flex;
        justify-content: space-between; }
        html body .order-form form .btn-col .right-side button {
          border: 2px solid #1a1a1a;
          margin-left: 10px; }
    html body .order-form form .policy {
      padding-top: 15px; }
      html body .order-form form .policy p.policy-text {
        padding-left: 5px;
        margin-top: -4px; }
        html body .order-form form .policy p.policy-text label {
          width: 100%; }
  html body .login-block, html body .signup-block {
    display: none; }
    html body .login-block div.title-block, html body .signup-block div.title-block {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px; }
    html body .login-block form .form-group, html body .signup-block form .form-group {
      padding-bottom: 7px; }
      html body .login-block form .form-group label, html body .signup-block form .form-group label {
        line-height: 0.7;
        text-shadow: 0 0 1px gray; }
      html body .login-block form .form-group input.form-control, html body .signup-block form .form-group input.form-control {
        border-radius: 0; }
    html body .login-block form .desc, html body .signup-block form .desc {
      padding-bottom: 0; }
      html body .login-block form .desc p.policy, html body .signup-block form .desc p.policy {
        font-size: 0.9rem; }
    html body .login-block form .bottom-form, html body .signup-block form .bottom-form {
      margin-top: 30px;
      display: flex;
      justify-content: space-between; }
      html body .login-block form .bottom-form button, html body .signup-block form .bottom-form button {
        width: 45%;
        border-radius: 0; }
      html body .login-block form .bottom-form button.send, html body .signup-block form .bottom-form button.send {
        font-weight: bold;
        background: #fecc11;
        outline: none; }
      html body .login-block form .bottom-form .sign_up, html body .signup-block form .bottom-form .sign_up {
        width: 100%; }
